#!/usr/bin/make -f
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. sphinx-build -bhtml Documentation/ -d debian/doctrees Documentation/build/html
    
override_dh_auto_configure:
	# meson build -Ddocumentation=false
	install -d obj-x86_64-linux-gnu
	cd obj-x86_64-linux-gnu && LC_ALL=C.UTF-8 meson .. --wrap-mode=nodownload --buildtype=plain --prefix=/usr --sysconfdir=/etc --localstatedir=/var --libdir=lib/x86_64-linux-gnu --libexecdir=lib/x86_64-linux-gnu -Ddocumentation=false
override_dh_auto_clean:
	dh_auto_clean
	rm -rf debian/doctrees

override_dh_auto_test:
	# pass
